@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}


<div class="login_page">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="/Auth/Login" id="f1">

                <center>
                    <h2 class="black">Fuel Finder</h2>
                    <img class="login_hcity_icon" src="~/assets/img/fuel_icon.jpeg" />
                    <h3 class="black">Admin Portal Login</h3>
                </center>

                <div class="form-group">
                    <label class="black">Email</label>
                    <input type="email" class="form-control" placeholder="Enter Email" name="email" required value="@TempData["email"]">
                </div>

                <div class="form-group">
                    <label class="black">Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="password" value="" required>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>

                <center>
                    <span>@TempData["m"]</span>
                </center>


            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#f1").validate();
    });
</script>