@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<style>
    .img_ {
    height:auto;
    width:200px;
    }
</style>
<div class="jumbotron">
    <center>
        <h1 class="display-3">Harare city billboards</h1>
        <p class="lead">
            about rubiem innovations
        </p>
        <hr class="my-4">
        <p style="display:flex;justify-content:center;align-content:center;">
            <a href="http://rubieminnovations.xyz/">
                <img src="/assets/img/rubiem_logo.png" style="width:200px;height:60px;" />
            </a>
        </p>
    </center>
</div>